 <!-- HEADER -->
        <div id="divHeaderWrapper">
            <header class="header-standard-2">     
    <!-- MAIN NAV -->
    <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation" style="background-color:#696969; height:140px; width:100%; border-width:0px; ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                    <i class="fa fa-outdent icon-custom"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars icon-custom"></i>
                </button>

                <a class="navbar-brand" href="/" title="Stitches">
                    <img src="images/MFDClogo.png" alt="" style="width:140px; height:150px; margin-top:-40px; position:relative; top:30px; left:-80px;">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    
<li>
<a href="/" class="hv" data-toggle="" style="font-size:40px; font-weight:bold; color:#1E90FF; margin-top:40px; ">Home</a>
</li>

<li>
<a href="/contact" class="hv" data-toggle="" style="font-size:40px; font-weight:bold; color:#1E90FF; margin-top:40px; ">Contact Us</a>
</li>
               </ul>
               
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>        </div>
<div class="pull-left m">
    <a href="/login" class="btn btn-primary">Back to Login</a>
</div>
<div class="register-container" ng-controller="loginController">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Registration</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form id="signUpForm" name="signUpForm" ng-submit="doSignUp(signUpForm)">
                            <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Email Address</label>


                                <input class="form-control" type="email" name="username" ng-model="username" required placeholder="Email"/></div>
                         
                            <div class="form-group col-lg-6">
                                <label>Password</label>
                                <input class="form-control" type="password" name="password" ng-model="password" required placeholder="Password"/>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Repeat Password</label>
                                <input class="form-control"  type="password" name="passwordRepeat" ng-model="passwordRepeat" required placeholder="Repeat Password"/>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>First Name</label>
                                <input class="form-control" type="text" name="first_name" ng-model="first_name" required placeholder="First Name"/>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Last Name</label>
                                <input class="form-control" type="text" name="last_name" ng-model="last_name" required placeholder="Last Name"/>
                            </div>

				<div class="form-group col-lg-6">
                                <label>Phone (Optional)</label>
                                <input class="form-control" type="text" name="phone" ng-model="phone" placeholder="Phone Number"/>
                            </div>
				<div class="form-group col-lg-6">
                                <label>Company (Optional)</label>
                                <input class="form-control" type="text" name="company" ng-model="company" placeholder="Company Name"/>
                            </div>

                            </div>

						<div class="col-md-8">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="subscription" id="subscription" ng-model="show">
                                                        <i></i> I accept the <a href="#">terms and conditions</a> of this website.
                                                    </label>
                                                </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Register</button>
                                <a class="btn btn-default" href="/login">Cancel</a>
                            </div>
                        </form>
                </div>

<div class="panel-footer">
                                <p>Already have an account? <a href="/login">Click here to sign in.</a></p>
                            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>Stitches</strong>
        </div>
    </div>
</div>

</div>

</div>

<footer class="footer" style="background-color: black;">
<div class="container" style="text-align:center;text-bottom; color:white;">
			<br><br>
			Contact Us:

			info@mfdc.io

			<a style="color: #A52A2A;" href="tc.html" target="_blank">Terms &amp; Conditions</a>

			Phone: + 61 7 5641 0288  
	  </div>
    </footer>
