
     <!-- HEADER -->
        <div id="divHeaderWrapper">
            <header class="header-standard-2">     
    <!-- MAIN NAV -->
    <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation" style="background-color:#696969; height:140px; width:100%; border-width:0px; ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                    <i class="fa fa-outdent icon-custom"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars icon-custom"></i>
                </button>

                <a class="navbar-brand" href="/" title="MFDC">
                    <img src="images/MFDClogo.png" alt="" style="width:140px; height:150px; margin-top:-40px; position:relative; top:30px; left:-80px;">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    

<li>
<a href="/" class="hv" data-toggle="" style="font-size:40px; font-weight:bold; color:#1E90FF; margin-top:40px; ">Home</a>
</li>

<li>
<a href="/contact" class="hv" data-toggle="" style="font-size:40px; font-weight:bold; color:#1E90FF; margin-top:40px; ">Contact Us</a>
</li>
               </ul>
               
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>        </div>

<div class="login-container" ng-controller="loginController">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
          <h1><span class="" style="color:#A52A2A;">Fast, Friendly and Professional:</span> <span class="" style="color:#483D8B;">DTS Conversion</span></strong></h1>
				<br>

            </div></div></div>

 <div class="row">

 <div class="col-sm-5">
				  <img src="images/photodune-2778256-embroidery-machine.jpg" class="img-rounded" alt="Cinque Terre" width="404" height="336">
				 </div>
		
				 <div class="col-sm-5" style="margin-left:100px;">
            <div ng-show="error">{{error}}</div>
            <div class="hpanel">
 
                <div class="panel-body">
                        <form ng-submit="doLogin(loginForm)" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>

                                                    
                                <input type="text" placeholder="email" title="Please enter you username" required="" value="" name="username" id="username" class="form-control" ng-model="username">
                                <span class="help-block small">Your unique email address</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control" ng-model="password">
                                <span class="help-block small">Your strong password</span>
                            </div>
                            <div class="checkbox">
                                    <input icheck type="checkbox" ng-model="remember" ng-init="remember = true">
                                     Remember login
                                <p class="help-block small"></p>
                            </div>
                            <button class="btn btn-success btn-block" type="submit">Login</button>
                            <a class="btn btn-default btn-block" href="/sign_up">Register</a>
                        </form>
                </div>

 <div class="panel-footer">
                                <p>Lost your password? <a href="#">Click here to recover.</a></p>
								

                            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>Stitches</strong>
        </div>
    </div>

</div>


 <footer class="footer" style="background-color: black; position: absolute; botton: 5px; width: 100%;">
<div class="container" style="text-align:center;text-bottom; color:white;">
			<br><br>
			Contact Us:

			info@mfdc.io

			<a style="color: #A52A2A;" href="tc.html" target="_blank">Terms &amp; Conditions</a>

			Phone: + 61 7 5641 0288  
	  </div>
    </footer>
