<section id='content' ng-controller="orderController">
    <div class='container-fluid'>
        <div class='row-fluid' style ="margin-top: 50px;height: 1000px;">
            <div class='span12 box'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='box bordered-box red-border'>
                            <div class='box-header red-background'>
                                <div class='span6 title'>Welcome</div>
                            </div>
                            <div class='box-content box-double-padding'>

                                <div ng-if="displayMessage" class='alert alert-info'>
                                    {{displayMessage}}
                                </div>

                                <form class='form' id="uploadForm" name="orderForm" style='margin-bottom: 0;' enctype="multipart/form-data" action="/api/photo/" method="post">
                                    <fieldset style="">
                                        <div class='col-sm-4'>

                                            <div class='box'>
                                                <div class='lead'>
                                                    <i class='icon-user contrast'></i>
                                                    Contact Info
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-7 col-sm-offset-1'>

                                            

                                            <div class='form-group'>
                                                <label>E-mail</label>
                                                <input ng-model="email" class='form-control' id='email' name='email' placeholder='E-mail' type='text' disabled>
                                            </div>





                                        </div>
                                    </fieldset>
                                    <hr class='hr-normal'>
<fieldset style="">
                                        <div class='col-sm-4'>

                                            <div class='box'>
                                                <div class='lead'>
                                                    <i class='icon-user contrast'></i>
                                                    Choose File
                                                </div>
                                            </div>

                                        </div>
                                        <div class='col-sm-7 col-sm-offset-1'>

                                           
<div class='form-group'>
                                              
        <label>Select a File to Upload</label>
        <input type="file" name="userPhoto" ng-model-instant id="fileToUpload" multiple onchange="" ng-model="file"/>
    </div>

                                        </div>
                                    </fieldset>
   <hr class='hr-normal'>
                                    <fieldset style="">
                                        <div class='col-sm-4'>

                                            <div class='box'>
                                                <div class='lead'>
                                                    <i class='icon-user contrast'></i>
                                                    Additional requirement
                                                </div>
                                            </div>

                                        </div>
                                        <div class='col-sm-7 col-sm-offset-1'>

                                            <div class='form-group'>
                                                <label>Message</label>
                                               
		<input ng-model="notes" class='form-control' id='notes' placeholder='Message' type='text' required>

                                                </select>
                                            </div>

                                        </div>
                                    </fieldset>
                                    <hr class='hr-normal'>

                                    <div class='form-actions'>
                                        <div class='row'>
                                            <div class='col-sm-7 col-sm-offset-5'>

                                                <button class='btn btn-success btn-lg' ng-click="add()" type="submit">
                                                    Confirm
                                                </button>

                                                <button class='btn btn-lg' ng-click="back()">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
