<div class="row" ng-controller="contactusController">
	<div class="col-lg-12 text-center m-t-md">
		<h2></h2>



                 <div class='alert alert-info'>
                   Thank you for using Stitches
                 </div>

<h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                  What is Stitches?
                                </a>
                              </h4>

 <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                Stitches is an easy to use website for image uploading, DTS downloading and service fee paying.
                              </div>
                            </div><br>

<h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                  How to upload images?
                                </a>
                              </h4>

 <div id="collapseTwo" class="panel-collapse collapse">
                              <div class="panel-body">
                                Users can click the Add New Order button on the top right of your dashboard to upload images and make a new order.
                              </div>
                            </div><br>

<h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                  How to receives notification?
                                </a>
                              </h4>

 <div id="collapseThree" class="panel-collapse collapse">
                              <div class="panel-body">
                               Users will receive both emails and inbox messages after admin upload a DTS file for your orders. Users will also receive a payment notification email once you make a new order.
                              </div>
                            </div><br>

<h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                  How to pay?
                                </a>
                              </h4>

 <div id="collapseFour" class="panel-collapse collapse">
                              <div class="panel-body">
                                Users can either pay the order immediately after you make an order, or click each order listed in your dashboard and click PAY button at the bottom. We support paypal, you can try our demo trial as well.
                              </div>
                            </div><br>

<h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                  How to download DTS files?
                                </a>
                              </h4>

 <div id="collapseFive" class="panel-collapse collapse">
                              <div class="panel-body">
                                 Users can click each order listed in your dashboard to view orders details and download uploaded DTS files once you receive any notification from admin.   
                              </div>
                            </div><br>


	</div>
</div>
