<div class="row" ng-controller="contactusController">
	<div class="col-lg-12 text-center m-t-md">
		<h2></h2>



                 <div class='alert alert-info'>
                   Thank you for using Stitches
                 </div>

<h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                  What is Stitches?
                                </a>
                              </h4>

 <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                Stitches is an easy to use website for image uploading, DTS downloading and service fee paying.
                              </div>
                            </div><br>

<h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                  How to upload DTS images?
                                </a>
                              </h4>

 <div id="collapseTwo" class="panel-collapse collapse">
                              <div class="panel-body">
                                Admin can click each order listed in your dashboard, then choice Upload DTS Files function.  
                              </div>
                            </div><br>

<h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                  How to receives notification?
                                </a>
                              </h4>

 <div id="collapseThree" class="panel-collapse collapse">
                              <div class="panel-body">
                                Admin will receive an email once users make an new order, admin will receive both emails and inbox messages after users pay the service fee.
                              </div>
                            </div><br>

<h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                  How to manage users and orders?
                                </a>
                              </h4>

 <div id="collapseFour" class="panel-collapse collapse">
                              <div class="panel-body">
                                Admin can click the MANAGE USERS button on the left menu bar to view current users, add new users, change users info, and delete users. Admin can also click each order listed in your dashboard to view orders details, download uploaded DTS files, and delete orders.  
                              </div>
                            </div><br>


	</div>
</div>
