<section id='content' ng-controller="orderDetailsController">
    <div class='container-fluid'>
        <div class='row-fluid' style ="margin-top: 50px;height: 250px;">
            <div class='span12 box'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='box bordered-box red-border'>
                            <div class='box-header red-background'>
                                <div class='span6 title'>Order Details</div>
                            </div>
                            <div class='box-content box-double-padding'>

                                <div class='alert alert-info'>
                                    
                                </div>

                                <form class='form' id="userForm" name="userForm" style='margin-bottom: 0;'>
                                    <fieldset>
                                        <div class='col-sm-4'>

                                            <div class='box'>
                                                <div class='lead'>
                                                    <i class='icon-user contrast'></i>
                                                    {{user.first_name + " " + user.last_name}}'s Information
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-7 col-sm-offset-1'>

                          

                                            <div class='form-group'>
                                                <label>E-mail</label>
                                                <input ng-model="user.username" class='form-control' id='username' placeholder='E-mail' type='text' disabled>
                                            </div>

                                            <div class='form-group'>
                                                <label>User Status</label>
                                                <span ng-if="user.status == 'deleted'" class='label buttonLightBlue'>{{user.status | uppercase}}</span>
                                                <span ng-if="user.status == 'active'" class='label buttonGreen'>{{user.status | uppercase}}</span>
                                            </div>

                                            <div class='form-group'>
                                                <label>Contact Phone Number</label>
                                                <input ng-model="user.phone" class='form-control' id='username' placeholder='E-mail' type='text' disabled>
                                            </div>


                                            <div class='form-group'>
                                                <label>Payment Status</label>
                                                <input ng-model="payment_status" class='form-control' id='username' placeholder='E-mail' type='text' disabled>
                                            </div>

                                           <div class='form-group'>
                                                <label>Order Status</label>
                                                <input ng-model="status" class='form-control' id='username' placeholder='E-mail' type='text' disabled>
                                            </div>


                                        </div>
                                    </fieldset>
                                   

                                        <div class='row'>
                                            <div class='col-sm-7 col-sm-offset-5'>

                                                    <button class='btn' ng-click="back()">
                                                    BACK
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
